.header{
  height: 10%;
  .detail-bar{
    height: 50%;
    display: flex;
    .left-container{
      align-items: center;
    }
    .mid-container{
      background-color: orange;
    }
    .right-container{
      background-color: brown;
    }
  }
  .tab-bar{
    height: 50%;
    background-color: orange;
  }
}